<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120164374295-6hgh2im37l61osijltsbimhumfsc473h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120164374295-6hgh2im37l61osijltsbimhumfsc473h</string>
	<key>API_KEY</key>
	<string>AIzaSyC4rBCm0yWznejnaCu7PLpcjcV3_14DnEE</string>
	<key>GCM_SENDER_ID</key>
	<string>120164374295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swimApp</string>
	<key>PROJECT_ID</key>
	<string>moby-9b804</string>
	<key>STORAGE_BUCKET</key>
	<string>moby-9b804.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120164374295:ios:1b7006d72e1794dbcc0952</string>
	<key>DATABASE_URL</key>
	<string>https://moby-9b804-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>