VITE_FIREBASE_API_KEY=AIzaSyD7keKbNEYc1juf1eWl3jIOR3asacCXsnQ
VITE_FIREBASE_AUTH_DOMAIN=swim-app-moby.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=swim-app-moby
VITE_FIREBASE_STORAGE_BUCKET=swim-app-moby.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=279708646624
VITE_FIREBASE_APP_ID=1:279708646624:web:161173101fa5a32e94e485
